.custom-badge .mat-badge-contenet {
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;

}

.custom-badge .mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;

}

a {
    &.active{
        color: #7d00fa;
    }
}

::ng-deep .mat-badge-content {
    border-radius: 50px !important;
    color: white !important;
    font-size: 10px !important;
}